{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clases.css' %}">
    <title>Student</title>
</head>

<body>
    {% include 'nav.html' %}
    <h1>Clases</h1>
    <hr>
    <section>
        {% for clase in clases %}
        <a href="{% url 'clase_info' clase_id=clase.id %}">
            <div>
                <h3>{{ clase.name }}</h3>
                <hr>
                <div class="subtitle">Profesor: <div class="field">{{ clase.teacher }}</div>
                </div>
                <div class="subtitle">Num. Clase ID: <div class="field">{{ clase.numberClass }}</div>
                </div>
                <div class="subtitle">Num. estudiantes: <div class="field">{{ clase.students }}</div>
                </div>
                <div class="subtitle">Tutor: <div class="field">{{ clase.classTutor }}</div>
                </div>
                <div class="subtitle">Delegado: <div class="field">{{ clase.classPresident }}</div>
                </div>
                <div class="subtitle">Descripción: <div class="field">{{ clase.description }}</div>
                </div>
            </div>
        </a>
        {% endfor %}

</body>

</html>